$base-font-family: 'Poppins', sans-serif;

$main-grey:        #888890;
$main-black:       #1a1a26;
$highlight-blue:   #a8edea;
$heading-black:    #1d1d29;
$froly:			   #f07f84;
$white:			   #ffffff;
$secondary-black:  #1e1e2a;
$hint-of-red:	   #f5efef;
$pink-salmon:	   #ff9a9e;
$titan-white:	   #fefeff;
$bermuda-blue:	   #79dad6;
$manhattan-orange: #f6b895;
$carrera-grey:	   #e6e5e1;


$grey-gradient:  rgba(26,26,38,0.5);
$white-gradient: rgba(255,255,255,0.5);

